nav.navbar.navbar-expand-lg.bg-dark
      .container-fluid
        a.navbar-brand.text-light(href='#') CTR Notes 
        button.navbar-toggler.bg-light(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon.bg-light
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.me-auto.mb-2.mb-lg-0
          form.d-flex(role='search')
            input.form-control.me-2(type='search', placeholder='Search', aria-label='Search')
            button.btn.btn-outline-light(type='submit') Search